<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
    <title th:unless="${curBook.isPresent()}">Книги не существует</title>
	<title th:if="${curBook.isPresent()}" th:text="${curBook.get().title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/resources/css/bootstrap-5.1.3-dist/bootstrap.min.css}" rel="stylesheet" />
</head>

<body>
	<header>
	</header>

	<div class="page">
			<div th:unless="${curBook.isPresent()}">
            	<div class="noBook">
                	<span>Книги не существует</span>
                </div>
 	        </div>
 	        <div th:if="${curBook.isPresent()}">
				<div class="bookDescription">
					<div class="title">
						<p>Название:</p>
						<span th:text="${curBook.get().title}"></span>
					</div>
					<div class="author">
						<p>Автор:</p>
						<span th:text="${curBook.get().author}"></span>
					</div>
					<div class="description">
						<p>Описание:</p>
						<span th:text="${curBook.get().description}"></span>
					</div>
				</div>
			</div>	
		</div>
	</div>

    <footer>
    </footer>
</body>

</html>