<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:insert="~{index :: imports}"></th:block>
</head>

<body>
	<nav th:insert="~{index :: header}"></nav>

	<div class="page">
			<div th:unless="${curBook.isPresent()}">
            	<div class="noBook">
                	<span>Книги не существует</span>
                </div>
 	        </div>
 	        <div th:if="${curBook.isPresent()}">
				<div class="bookDescription">
					<div class="title">
						<p>Название:</p>
						<span th:text="${curBook.get().title}"></span>
					</div>
					<div class="author">
						<p>Автор:</p>
						<span th:text="${curBook.get().author}"></span>
					</div>
					<div class="description">
						<p>Описание:</p>
						<span th:text="${curBook.get().description}"></span>
					</div>
				</div>
			</div>	
		</div>
	</div>

    <footer>
    </footer>
</body>

</html>