<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Список книг</title>
	<th:block th:insert="~{index :: imports}"></th:block>
</head>

<body>
	<nav th:insert="~{index :: head}"></nav>

	<div class="container content">
		<div class="jumbotron">
			<p class="h1">Каталог книг</p>
			<div class="no_books" th:if="${allBooksList.isEmpty()}">
				<p class="h4">Книг в каталоге нет</p>
 	        </div>

 	        <div th:unless="${allBooksList.isEmpty()}">
				<div class="book_block" th:each="book : ${allBooksList}">
					<hr>
					<div class="row">
						<div class="small_description col-8">
							<a class="h3" th:href="@{book(id=${book.id})}" th:text="'&quot' + ${book.title} + '&quot'"></a>
							<h4 class="text-muted" th:text="${book.author}"></h4>
						</div>
						<div class="buttons_update_delete col-4">
							<form th:action="@{/update}">
								<input type="hidden" name="id" th:value="${book.id}">
								<button type="submit" class="btn btn-outline-primary">Изменить</button>
							</form>
							<form th:action="@{/delete}">
								<input type="hidden" name="id" th:value="${book.id}">
								<button type="submit" class="btn btn-outline-primary">Удалить</button>
							</form>
						</div>
					</div>
				</div>
			</div>	
		</div>
		<div>
			<a class="btn btn-lg btn-primary" href="/add" role="button">Добавить книгу</a>
		</div>
	</div>

	<footer th:insert="~{index :: foot}"></footer>
</body>
</html>