<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"> 
    <title>Catalog</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<header>
	</header>

	<div class="page">
		<div class="item_blocks">
			<div th:if="${allItemsList.isEmpty()}">
            	<div class="no_items">
                	<span>Здесь пока пусто...</span>
                </div>
 	        </div>
 	        <div th:unless="${allItemsList.isEmpty()}">
				<div th:each="item : ${allItemsList}">
					<div class="item_block">
						<span th:text="${item.id}"></span>
						<span th:text="${item.name}"></span>
						<span th:text="${item.price}"></span>
						<span th:text="${item.category}"></span>
					</div>
				</div>
			</div>	
		</div>
	</div>

    <footer>
    </footer>
</body>
</html>
