<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Удалить книгу</title>
	<th:block th:insert="~{index :: imports}"></th:block>
</head>

<body>
	<nav th:insert="~{index :: head}"></nav>

	<div class="container content">
		<div class="jumbotron">
			<form th:action="@{/delete(id=${bookForm.id})}" method="post">
<!--				<input type="hidden" name="id" th:value="${bookForm.id}">-->
				<h1>Удалить книгу</h1>
				<div class="title">
					<hr>
					<h4 class="text-muted">Название книги</h4>
					<h5 th:text="${bookForm.title}"></h5>
				</div>

				<div class="author">
					<hr>
					<h4 class="text-muted">Автор</h4>
					<h5 th:text="${bookForm.author}"></h5>
				</div>

				<div class="description">
					<hr>
					<h4 class="text-muted">Описание</h4>
					<p class="lead" th:each="line : ${bookForm.description.split('\r\n')}" th:text="${line}"></p>
				</div>

				<div class="buttons">
					<button class="btn btn-outline-primary" type="submit">Удалить</button>
					<a class="btn btn-outline-primary" href="/books" role="button">Отмена</a>
				</div>
			</form>
		</div>
	</div>

	<footer th:insert="~{index :: foot}"></footer>
</body>
</html>