.center {
    margin-left: 30%;
    margin-right: 30%;
    background: #FFFFFF;
    border: 2px solid #E8E8E8;
}

.forms {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 30%;
    font-size: 12pt;
}

.salaryView {
    margin-left: 20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14pt;
}

#salaryVal {
    font-style: italic;
    font-weight: bold;
    font-size: 15pt;
}

body {
    background: #F5F5F5;
}

hr {
    height: 2px;
    border: 2px solid #F1F1F1;
    background-color: #F1F1F1;
}